body {
    font-family: Verdana;
    color: #000;
    font-size: 12px;
}

h1 {
    color: #333;
    font-size: 20px;
}

h2 {
    color: #666;
    font-size: 16px;
}

a {
    color: blue;
    font-size: 12px;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 12px;
}

caption {
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
}

thead th {
    background-color: #666;
    color: white;
    padding: 10px;
    border: 1px solid #000;
}

tbody td {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #000;
}

tfoot td {
    background-color: #ccc;
    padding: 10px;
    border: 1px solid #000;
}

ul li {
    font-size: 12px;
}
